* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    background-color: whitesmoke;
}

.footer {
    background-color: #cccccc ;
    padding: 10px;
}
#slika{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    padding: 10px;
}
h2{
    font-size: 40px;
    font-weight: bold;
    color: #cccccc;
    padding: 0px;
    margin: 0px;
    width: 500px;
    text-align: center;
}
.bio{
    font-size: 30px;
    font-weight: bold;
    color: #cccccc;
    margin: 0px;
    padding: 10px;
    width: 400px;
    height: 300px;

}
.content{
    height: 100%;
    width: 100%;
}
.bioh2{
    float: left;
    padding: 30px;
    position: relative;
}
.topnav::after{
    content: '';
    width: 0%;
    height: 2px;
    background: mediumaquamarine;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.topnav:hover::after{
    width: 100%;
}
.about{
    width: 800px;
    color: #cccccc;
    font-size: 30px;
    font-weight: bold;


}
body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.footer{
    place-content: flex-end;
    font-size: 20px;
    overflow: hidden;
    background-color: #333;
    color: #f2f2f2;
}